workflows/WF3_GCal_Bridge.json
{
  "name": "WF3 - Leo GCal Bridge",
  "nodes": [
    {
      "parameters": {
        "path": "gcal-leo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8f2728d5-ffb1-41f7-a521-7ec41423d2f0",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "gcal-leo"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "antoinestarellas@gmail.com",
          "mode": "list",
          "cachedResultName": "antoinestarellas@gmail.com"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ new Date().toISOString() }}",
          "timeMax": "={{ new Date(Date.now() + 48*3600000).toISOString() }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "0ab9437e-ddd5-45c7-9d2d-4886b3ca4d91",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        272,
        0
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "yVJUoO2aQYO2Bep4",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.all().map(i => ({titre: i.json.summary, debut: i.json.start && i.json.start.dateTime ? i.json.start.dateTime : (i.json.start ? i.json.start.date : ''), fin: i.json.end && i.json.end.dateTime ? i.json.end.dateTime : (i.json.end ? i.json.end.date : ''), couleur: i.json.colorId || '0'}))) }}",
        "options": {}
      },
      "id": "1a3c6bd3-d241-4a20-832a-8277494cc767",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        528,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2122c683-cfc4-48a6-b93f-707d7268d90e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fde66970f8fae7d6c70a3d4ec22bd5678e9acc066830abeb8a10403dc85684c9"
  },
  "id": "l99Rjr5ANDjL7bnvVa_dj",
  "tags": []
}